$tiny: 550px;
$mobile: 768px;
$med: 1050px;
$lrg: 1400px;

@mixin tiny {
    @media (max-width: $tiny) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}


@mixin med {
    @media (max-width: $med) {
        @content;
    }
}

@mixin lrg {
    @media (max-width: $lrg) {
        @content;
    }
}

.header-container {
    width: 100vw;
    height: fit-content;
    background-color: rgb(85, 84, 84);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;

    @include mobile {
        flex-direction: column;
    }
}

.header-container > h1 {
    margin: 10px;
}
.dead-link {
    opacity: 0.5;
    margin: auto 10px;
}

.link-button  {
    margin-top: auto;
    margin-bottom: auto;
    height: 60px;
}