<div class="header-container">

    <h1>Mentorship</h1>
    <button mat-button routerLink="/">Home</button>
    <!-- if logged in log in, if logged out log out -->
    <button mat-button routerLink="/login">Login</button>

    <div *ngIf="currentUserRole === 'admin'; else dashboardElse">
        <button mat-button routerLink="/dashboard">Dashboard</button>
    </div>
    <ng-template #dashboardElse>
        <p mat-button class="dead-link">Dashboard</p>
    </ng-template>

    <div *ngIf="currentUserRole === 'mentor' || currentUserRole === 'admin'; else mentoreElse">
        <mat-button class="link-button" routerLink="/mentor">Mentor</mat-button>
    </div>
    <!-- <ng-template #mentoreElseIf>
        <mat-button class="link-button" routerLink="/mentor">MentorAdmin</mat-button>
    </ng-template> -->
    <ng-template #mentoreElse>
        <p mat-button class="dead-link">Mentor</p>
    </ng-template>

    <div *ngIf="currentUserRole === 'mentee' || currentUserRole === 'admin'; else menteeeElse">
        <button mat-button routerLink="/mentee">Mentee</button>
    </div>
    <ng-template #menteeeElse>
        <p mat-button class="dead-link">Mentee</p>
    </ng-template>

    <button (click)="testClick()">Test Button</button>
</div>
