<div class="header-container">

    <h1>Mentorship</h1>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <!-- If the 'current user role' value is set up as a value that is subscribed to then this should work in real time -->
    <div *ngIf="currentUserRole === 'mentor'; else mentoreElse">
        <button mat-button routerLink="/mentor">Mentor</button>
    </div>
    <ng-template #mentoreElse>
        <p mat-button class="dead-link">Mentor</p>
    </ng-template>
    <button mat-button routerLink="/mentor">Mentor2</button>

    <button mat-button routerLink="/mentee">Mentee</button>

    <button (click)="testClick()">Test Button</button>
</div>
