@import '../../global.scss';

#full-header {
    position: sticky;
    top: 0;
    z-index: 50;

    @include mobile {
        top: calc(100% - 60px);
    }
    @include tiny {
        top: calc(100% - 56px);
    }
}

.header-container {
    width: 100vw;
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    @include mobile {
        flex-direction: column;
        display: none;
    }
}

.header-container > button:last-of-type {
    height: 50px;
    background-color: $warn;
    color: white;
    border: none;
    margin: auto 0;
    height: 60px;
}

.header-container > h1 {
    margin: 10px;
    @include mobile {
        margin: 0 auto;
    }
}

.dead-link {
    opacity: 0.5;
    margin: 0 10px;
}

.link-button  {
    margin: 0 8px;
    height: 60px;

    @include mobile {
        left: 50%;
        transform: translateX(-50%)
    }
}

.hamburger-icon {
    display: none;
    @include mobile {
        display: block
    }
}

.header-spacer {
    flex: 1 1 auto;
}

.sidenav-container {
    // flex: 1;
    min-height: 800px;
    height: fit-content;

    .sidenav {
        min-width: 240px;
        
        a {
            display: block;
            padding: 6px 24px;
            width: 100%;
            text-align: left;
        }
    }

    main {
        padding: 18px 24px;
    }

    
}

#sidenav-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include mobile {
        justify-content: flex-end;
        position: fixed;
        bottom: 60px;
        width: 240px;
        flex-direction: column-reverse;
    }
}

#sidenav-flex > button:last-of-type {
    height: 60px;
    background-color: $warn;
    color: white;
    border: none;
}

