<mat-card class="mentor-card">
    <!-- <div *ngIf="currentUserRole == 'admin'">
        <button color="warn">Back to Dashboard</button>
    </div> -->
    <div class="mentee-card-header">
        <img class="user-image" src="../../assets/gritty-square.png" />
        <div class="name-title">
            <h4 mat-card-title>{{userName}}</h4>
            <p mat-card-subtitle>{{userCompany}}</p>
            <p mat-card-subtitle>{{userJobTitle}}</p>

        </div>
    </div>

    <div class="info-container">
        <mat-slide-toggle [(ngModel)]="onboarding">Completed Onboarding Survey</mat-slide-toggle>
    </div>
    <div class="info-container">
        <mat-slide-toggle [(ngModel)]="matched">Matched with a Mentee</mat-slide-toggle>
    </div>
    <div class="info-container">
        <mat-slide-toggle [(ngModel)]="training">Checkout Mentor Training</mat-slide-toggle>
    </div>
    <div class="info-container">
        <mat-slide-toggle [(ngModel)]="schedule">Share Your Schedule</mat-slide-toggle>
    </div>
    <div class="info-container">
        <mat-slide-toggle [(ngModel)]="notes">Post Meeting Notes Submitted</mat-slide-toggle>
    </div>

    <div class="info-container">
        <p class="user-text"><span class="user-text-numbers">{{ currentStreak }}</span>Current Streak</p>
    </div>
    <div class="info-container">
        <p class="user-text"><span class="user-text-numbers">{{ longestStreak }}</span>Longest Streak</p>
    </div>
    <div class="info-container">
        <mat-icon class="star">star</mat-icon>
        <p class="user-text"><span class="user-text-numbers">{{ rating }}</span>Rating</p>
    </div>
</mat-card>




