@import '../../../global.scss';

.pie-chart-card {
    width: 40vw;
    margin: 16px;
    height: 540px;
    // min-height: 400px;
    @include mobile {
        width: 85%;
        margin: 16px auto;
    }
}

.chart-title {
    font-size: 24px;
    margin: 6px auto;
    text-align: center;
}

