<mat-card class="pie-chart-card dark">
    <p class="chart-title">{{title}}</p>
    <ngx-charts-pie-chart
        [view]="view"
        [scheme]="piecolorScheme"
        [results]="pieValues"
        [gradient]="piegradient"
        [legend]="pieshowLegend"
        [legendPosition]="'below'"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-pie-chart>
</mat-card>