$tiny: 550px;
$mobile: 768px;
$med: 1050px;
$lrg: 1400px;

@mixin tiny {
    @media (max-width: $tiny) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin med {
    @media (max-width: $med) {
        @content;
    }
}

@mixin lrg {
    @media (max-width: $lrg) {
        @content;
    }
}

.bar-chart-card {
    width: 40vw;
    margin: 16px;
    height: 440px;
    // min-height: 400px;
    @include mobile {
        width: 85%;
        margin: 16px auto;
    }
}

.chart-title {
    font-size: 24px;
    margin: 6px auto;
    text-align: center;
}