@import "../../../global.scss";

.bar-chart-card {
  width: 40vw;
  margin: 16px;
  height: 500px;
  color: white;
  text-decoration-color: $light-text;
  @include mobile {
    width: 85%;
    margin: 16px auto;
  }
}

.chart-title {
  font-size: 24px;
  margin: 6px auto;
  text-align: center;
}

.bar-chart-card.light > .chart-title {
  color: $dark-text;
}
