<mat-card class="mentee-card">
    <div class="mentee-card-header">
        <div class="user-image"></div>
        <div class="name-title">
            <h4 mat-card-title>Henry</h4>
            <p mat-card-subtitle>I do stuff</p>
        </div>
    </div>
    <!-- <label className="toggle-switch">
        <input type="checkbox" onChange={() => checkToggle()} checked={ toggleState }/>
        <span className="slider round"></span>
    </label> -->
    <div class="info-container">
        <label for="onboarding" class="toggle-switch">
            <input [(ngModel)]="onboarding" type="checkbox" id="onboarding"/>
            Onboarding
        </label>
        <span class="slider round"></span>
    </div>
    <div class="info-container">
        <input [(ngModel)]="matched" type="checkbox" id="matched"/>
        <label for="matched">Matched</label>
    </div>
    <div class="info-container">
        <input [(ngModel)]="introduced" type="checkbox" id="introduced"/>
        <label for="introduced">Introduced</label>
    </div>
    <div class="info-container">
        <input [(ngModel)]="schedule" type="checkbox" id="schedule"/>
        <label for="schedule">Schedule</label>
    </div>
    <div class="info-container">
        <input [(ngModel)]="smart" type="checkbox" id="smart"/>
        <label for="smart">Smart</label>
    </div>

</mat-card>


