$tiny: 550px;
$mobile: 768px;
$med: 1050px;
$lrg: 1400px;

@mixin tiny {
    @media (max-width: $tiny) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin med {
    @media (max-width: $med) {
        @content;
    }
}

@mixin lrg {
    @media (max-width: $lrg) {
        @content;
    }
}

$image-size: 140px;

.mentee-card {
    width: 80%;
    margin: 36px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mentee-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
    margin: 0 0 32px 0;
    // margin-bottom: 32px;
    @include tiny {
        flex-direction: column;
        margin: 0 auto 32px auto;
    }
}

.user-image {
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
    background-color: grey;
    margin-right: 16px;
    @include tiny {
        margin: 16px auto;
    }
}

.name-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
    @include tiny {
        text-align: center;
        margin-left: 0;
    }
}

.name-title > h4 {
    font-size: 46px;
    font-weight: bold;
    margin: 16px 0 26px 0;
}

.name-title > p  {
    font-size: 18px;
    margin: 0;  
}

.name-title > p:not(:first-of-type)  {
    margin: 8px 0 0 0;  
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 16px 0 0 40%;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    @include lrg {
        margin: 16px 0 0 40%;
    }
    @include med {
        margin: 16px 0 0 30%;
    }
    @include mobile {
        margin: 16px 0 0 20%;
    }
    @include tiny {
        margin: 16px 0 0 5%;
    }
}

.info-container > label {
    margin-left: 8px;
}

.check-text {
    margin-left: 16px;
    font-weight: 400;
}

.user-text {
    font-size: 18px;
}

.user-text-numbers {
    font-size: 28px;
    margin-right: 16px;
}


.switch {
    position: relative;
    display: inline-block;
}
.switch-input {
    display: none;
}
.switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}
.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}
.switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}
.switch-label::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
    background-color: green;
}
.switch-input:checked + .switch-label::after {
    left: 24px;
}



