$tiny: 550px;
$mobile: 768px;
$med: 1050px;
$lrg: 1400px;

@mixin tiny {
    @media (max-width: $tiny) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin med {
    @media (max-width: $med) {
        @content;
    }
}

@mixin lrg {
    @media (max-width: $lrg) {
        @content;
    }
}

$image-size: 140px;

.mentee-card {
    width: 80%;
    margin: 36px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mentee-card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5%;
    margin: 0 0 32px 0;
    // margin-bottom: 32px;
    @include mobile {
        flex-direction: column;
        margin: 0 auto 32px auto;
    }
}

.user-image {
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
    background-color: grey;
    margin-right: 16px;
    @include mobile {
        margin: 16px auto;
    }
}

.name-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-title > h4 {
    font-size: 32px;
    margin: 5px auto;
}

.name-title > p  {
    font-size: 22px;
    margin: 5px auto;
    
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 16px auto;
    font-size: 18px;
    font-weight: bold;
}

.info-container > label {
    margin-left: 8px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-bottom: 1vh;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: grey;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: red;
}

input:focus + .slider {
    box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
