<mat-card class="mentee-card">
    <div class="mentee-card-header">
        <img class="user-image" src="../../assets/gritty-square.png" />
        <div class="name-title">
            <h4 mat-card-title>{{userName}}</h4>
            <p mat-card-subtitle>{{userCompany}}</p>
            <p mat-card-subtitle>{{userJobTitle}}</p>
        </div>
    </div>
    <div class="info-container">
        <mat-checkbox (click)="toggleCheck()" [(ngModel)]="onboarding">Completed Onboarding Survey</mat-checkbox>
    </div>
    <!-- <div class="container">
        <h1 hoverer>Hover over me</h1>
      </div> -->
    <div class="info-container">
        <mat-checkbox [(ngModel)]="matched">Matched with a Mentor</mat-checkbox>
    </div>
    <div class="info-container">
        <mat-checkbox [(ngModel)]="introduced">Introduced yourself</mat-checkbox>
    </div>
    <div class="info-container">
        <mat-checkbox [(ngModel)]="schedule">Scheduled a session</mat-checkbox>
    </div>
    <div class="info-container">
        <mat-checkbox [(ngModel)]="smart">SMART Goals</mat-checkbox>
    </div>

    <div class="info-container">
        <p class="user-text"><span class="user-text-numbers">{{sessions}}/{{sessionsPossible}}</span>Sessions</p>
    </div>
    <div class="info-container">
        <p class="user-text"><span class="user-text-numbers">{{lifetimeSessions}}/{{lifetimeSessionsPossible}}</span>Lifetime Sessions</p>
    </div>
    <div class="info-container">
        <mat-icon class="star">star</mat-icon>
        <p class="user-text"><span class="user-text-numbers">{{lifetimeSessions}}</span>Rating</p>
    </div>
</mat-card>

<!-- this is for hte end of each table row.  -->
<!-- <mat-icon>launch</mat-icon> -->




