<div>
  <div class="chart-container">
    <app-bar-chart [incomingBarChartData]="mentorBarChartData"></app-bar-chart>
    <app-bar-chart [incomingBarChartData]="menteeBarChartData"></app-bar-chart>
  </div>

  <div class="chart-container">
    <app-pie-chart [incommingPieChartData]="mentorPieChartData"></app-pie-chart>
    <app-pie-chart [incommingPieChartData]="menteePieChartData"></app-pie-chart>
  </div>

  <app-table [incommingAllUserData]="allUserData" color="primary"></app-table>

  <div *ngIf="isMenteeDisplayed">
    <button (click)="closeCardMentee()">Close</button>
    <app-mentee></app-mentee>
  </div>
  <div *ngIf="isMentorDisplayed">
    <button (click)="closeCardMentor()">Close</button>
    <app-mentor></app-mentor>
  </div>
  <!-- <app-mentor>
</app-mentor>
  
<mat-card class='table-card'>
    <h4 class="table-title">All Users</h4>
    <table>
        <thead>
            <tr>
                <td>User Name</td> <td>Is finished?</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of allUserData">
                <td>{{e.userData.name}}</td> <td>{{e.userData.isFinished}}</td>
            </tr>
        </tbody>
    </table>
</mat-card>
</div> -->
