@import '../../global.scss';

.tableCard {
    background-color: $dark-bg-lighter-10;
    color: $light-text;
    border-radius: 5px;
    cursor: pointer;
    // box-shadow: 0.5px 0.5px 0.5px 2px $dark-background;
    text-align: center;
  }

$image-size: 140px;

.mentee-card {
    background-color: $dark-bg-lighter-10;
    color: $light-text;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include mobile {
        padding: 0 32px 32px 32px;
    }
}

.mentee-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // margin-bottom: 32px;
    @include tiny {
        flex-direction: column;
        margin: 0 auto 32px auto;
    }
}

.user-image {
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
    background-color: grey;
    margin-right: 16px;
    @include tiny {
        margin: 16px auto;
    }
}

.name-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
    @include tiny {
        text-align: center;
        margin-left: 0;
    }
}

.name-title > h4 {
    font-size: 46px;
    font-weight: bold;
    margin: 16px 0 26px 0;
}

.name-title > p  {
    font-size: 18px;
    margin: 0;  
}

.name-title > p:not(:first-of-type)  {
    margin: 8px 0 0 0;  
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 32px 0 0 40%;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    @include lrg {
        margin: 32px 0 0 40%;
    }
    @include med {
        margin: 32px 0 0 30%;
    }
    @include mobile {
        margin: 32px 0 0 20%;
    }
    @include tiny {
        margin: 32px 0 0 5%;
    }
}

.info-container > label {
    margin-left: 8px;
}

.check-text {
    margin-left: 16px;
    font-weight: 400;
}

.user-text {
    font-size: 18px;
}

.user-text-numbers {
    font-size: 46px;
    margin-right: 16px;
}

.star {
    font-size: 46px;
    margin-top: -12px;
    margin-left: -49px;
    margin-right: 24px;
    color: $warn;
}
